:root {
    --site-primary-color: #047f3e;
    --font-primary-color: #333;
    --font-second-color: #FFF;
}

@font-face {
    font-family: 'UTM Alter Gothic';
    src: url('../fonts/utm-alter-gothic.ttf');
}

body {
    font-size:0.6rem; 
    padding-top:3.6rem;
    padding-bottom: 115px;
    max-width: 640px;
    margin: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    margin-bottom: 0 !important;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.main-navigation {
    max-width: 640px;
    margin: auto; 
    background: #f1eaee !important;
}

.img-logo {
    /* height: 2.6rem; */
    height: 2rem;
    object-fit: contain;
}

.second-navigation {
    padding: 0;
    background: var(--site-primary-color) !important;
}

.second-navigation .nav-item:not(:last-child) {
    border-right: solid 1px var(--font-second-color);
}

.second-navigation .nav-link {
    padding: 10px 0.2rem !important;
    text-transform: uppercase;
    font-family: 'UTM Alter Gothic', sans-serif;
}

.content-section {
    padding: 20px 0;
}

.container, .container-sm{max-width:100%}
.img-content {
    width: 100%;
}

.content-title {
    font-size: 28px;
    font-weight: 700;
}

.disease-content-wrapper .col-3 {
    margin-bottom: 10px;
    padding: 0 5px;
}

.disease-content {
    height: 100%;
    padding: 0.3rem;
    border-radius:0.3rem;
    border: solid 1px var(--site-primary-color);
    background: #F9F9F9;
}

.disease-content-title {
    margin-bottom: 0;
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: var(--site-primary-color);
}

.strengths-section {
    background: url('../images/bg_1.jpg') no-repeat top center;
}

.strengths-title {
    margin-top: 90px;
}

.strengths-subtitle {
    margin-left: 30px;
    font-style: italic;
}

.img-strengths {
    margin-top: 110px;
}

.hour-section {
    padding: 50px;
    background: url('../images/bg_2.jpg') no-repeat top center;
    background-size: cover;
}

.hour-content {
    margin-top: 10px;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .6);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.img-hotline {
    left: 0;
    right: 0;
    bottom: -22px;
    margin: auto;
    width: 400px;
    position: absolute;
}

.hour-content span {
    margin: 0 3px;
}

.hour-content .hour-number {
    font-size: 35px;
    font-weight: 700;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color: var(--font-second-color);
    background: #494949;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.strikethrough {
    width: 35px;
    height: 8px;
    border-radius: 10px;
    background: #494949;
    display: inline-flex;
}

.disease-content-wrapper,
.gift-content-wrapper,
.hinhanh-wrapper,
.news-content-wrapper {
    margin-top: 40px;
}

.img-gift {
    margin-bottom: 20px;
}

.img-customer {
    margin: 20px 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.customer-title {
    font-weight: 700;
}

.hinhanh-section {
    background: #F0EEEF;
}

.news-odd {
    background: #DBEFF5;
}

.news-content-wrapper .d-flex {
    padding: 15px;
}

.news-thumb {
    width: 140px;
    height: 90px;
    object-fit: cover;
}

.news-content-wrapper .d-flex p {
    margin-bottom: 0;
    color:#333;font-size: 0.5rem
}
.news-content-wrapper .d-flex .news-title {
    color:var(--bs-link-color);font-size: 0.6rem

}
.site-info {
    margin: auto;
    padding-left: 0;
    max-width: 640px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    background: #066739;
}

.site-info li {
    width: 25%;
    height: 100%;
    padding: 0.3rem;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.site-info li:not(:last-child) {
    border-right: solid 1px var(--font-second-color);
}

.site-info li p {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.icon-footer {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.second-navigation,
.second-navigation a,
.second-navigation a:hover,
.second-navigation a:focus,
.second-navigation a:visited,
.strengths-section,
.strengths-section a,
.strengths-section a:hover,
.strengths-section a:focus,
.strengths-section a:visited,
.hour-section,
.hour-section a,
.hour-section a:hover,
.hour-section a:focus,
.hour-section a:visited,
.site-info,
.site-info a,
.site-info a:hover,
.site-info a:focus,
.site-info a:visited {
    color: var(--font-second-color);
}

.navbar-brand {
    /* width: 10.0rem; */
    width: 85%;
}

.second-navigation .nav-link {
    font-size: 0.5rem;
}

.second-navigation .nav-link {
    padding: 5px;
}

.content-title {
    font-size: 1.0rem;
}

.hour-section {
    padding: 20px 0 50px 0;
}

.hour-content {
    padding: 40px 10px;
}

.img-hotline {
    width: 80%;
    bottom: -15px;
}

.news-thumb {
    width: 100px;
    height: 75px;
}

.site-info {
    font-size: 16px;
}

.icon-footer {
    width: 40px;
    height: 40px;
}

.site-info li {
    padding: 0.3rem,0.1rem;font-size: 0.5rem
}

.content_content p{margin:0 }

.content_content p:last-child {
    font-size: .25rem;
    text-transform: lowercase;
}
