.white_text{color:white!important;vertical-align: middle;}
.black_text{color:black!important;vertical-align: middle;}
.red_text{color:red !important;vertical-align: middle;}

#section_1,#section_2,#section_4, #section_5,#section_6,#section_7,#section_8, #section_9, 
#section_10, #section_11, #section_12, #section_13, #section_14, #section_15,
#section_16, #section_17, .post_button_contain{
    font-size: 0.58rem;
}
#section_1{margin: 0.5rem 0;}
#section_2{margin-top: 0;background-color: #047f3e;}
#section_4{margin-top: 0.3rem;}
#section_5, #section_7,.post_button_contain{margin-top: 0.1rem;}
#section_8,#section_9,#section_10,#section_13, #section_14{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section_8{
    margin-top: 1rem;
    padding: 1rem 0 2rem 0;
    background-image: url(../images/sec_8_image_bg.jpg);
}
#section_9{
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    background-image: url(../images/sec_9_bg.jpg);
}
#section_10, #section_13{
    padding: 1rem 0.2rem 0rem 0.2rem;
}
#section_10{
    background-image: url(../images/sec_10_bg_update.jpg);
}
#section_13{
    background-image: url(../images/section_13_bg_image.png);
    margin-top: 1rem;
}
#section_14{
    background-color: #034d29;
}
#section_6, #section_11, #section_12, #section_15, #section_16, #section_17{
    margin-top: 1rem;
}

#section_10 > .row{
    padding-top: 9rem;
}

#section_2 > .row, #section_4 > .row, #section_5 > .row, #section_6 > .row, #section_7 > .row, #section_8 > .row, #section_9 > .row, 
#section_10 > .row, #section_11 > .row, #section_12 > .row
.post_button_contain > .row{
    margin: 0.1rem;
}

#section_1 > .row{
    --bs-gutter-x: 0;
    margin: 0.5rem;
}

#section_7 > .row{
    --bs-gutter-x: 1rem;
}

#section_11 > .show_image{
    object-fit: cover;
}

.section_4_button_1, .section_4_button_2, .section_4_button_3, .section_5_button_1, .section_5_button_2, .section_5_button_3{
    border-radius: 0.25rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0.1rem;
    width: 32%;
}
.section_4_button_1{background-color: #40b279;}
.section_4_button_2{background-color: #6cb8cf;}
.section_4_button_3{background-color: #e1ab31;}
.section_5_button_1{background-color: #db7358;}
.section_5_button_2{background-image: url(../images/sec_5_button_2_bg.png);background-size: cover;}
.section_5_button_3{background-color: #5fc480;}


.section_4_button_1_line_1, .section_4_button_1_line_2, .section_4_button_2_line_1, .section_4_button_2_line_2, .section_4_button_3_line_1, .section_4_button_3_line_2,
.section_5_button_1_line_1, .section_5_button_1_line_2, .section_5_button_2_line_1, .section_5_button_2_line_2, .section_5_button_3_line_1, .section_5_button_3_line_2
{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 0.9rem;
}

.section_4_button_1_line_1, .section_4_button_2_line_1, .section_4_button_3_line_1,
.section_5_button_1_line_1, .section_5_button_2_line_1, .section_5_button_3_line_1
{
    padding-left: 1.45rem;
    margin: 0.3rem;
    margin-bottom: 0;
}

.section_4_button_1_line_1:before, .section_4_button_2_line_1:before, .section_4_button_3_line_1:before,
.section_5_button_1_line_1:before, .section_5_button_2_line_1:before, .section_5_button_3_line_1:before
{
    content: '';
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: -1.45rem;
    margin-top: 0.2rem;
}

.section_4_button_1_line_1:before{
    background: url(../images/sec_4_button_1_icon.png);
    background-size: 1.3rem 1.3rem;
}

.section_4_button_2_line_1:before{
    background: url(../images/sec_4_button_2_icon.png);
    background-size: 1.3rem 1.3rem;
}

.section_4_button_3_line_1:before{
    background: url(../images/sec_4_button_3_icon.png);
    background-size: 1.3rem 1.3rem;
}

.section_5_button_1_line_1:before{
    background: url(../images/sec_5_button_1_icon.png);
    background-size: 1.3rem 1.3rem;
}

.section_5_button_3_line_1:before{
    background: url(../images/sec_5_button_3_icon.png);
    background-size: 1.3rem 1.3rem;
}

.section_4_button_1_line_2, .section_4_button_2_line_2, .section_4_button_3_line_2,
.section_5_button_1_line_2, .section_5_button_2_line_2, .section_5_button_3_line_2
{
    font-weight: bold;
    font-size: 0.5rem;
    --bs-gutter-x: 0rem;
    text-align: center;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.section_4_button_2_line_1, .section_4_button_3_line_1, .section_5_button_1_line_1, .section_5_button_3_line_1{
    line-height: 1.8rem;
}

.section_4_button_1_line_2{
    background-color: #19844e;
}

.section_4_button_2_line_2{
    background-color: #3c96b0;
}

.section_4_button_3_line_2{
    background-color: #a77b18;
}

.section_5_button_1_line_2{
    background-color: #be4729;
}

.section_5_button_2_line_2{
    background-color: transparent;
}

.section_5_button_3_line_2{
    background-color: #28914a;
}

.h2_title{
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    background-image: url(../images/h2_title_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2rem;
    text-align: center;
    padding-top: 0.25rem;
}

.section_6_button_1,.section_6_button_2,.section_6_button_3,.section_6_button_4,.section_6_button_5,.section_6_button_6{
    border-radius: 0.25rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0.5%;
    width: 32%;
}

.section_6_title{
    font-family: Arial;
    margin: 0.2rem 0.65rem;
    font-size: 0.6rem;
    text-align: center;
}

.section_6_thumb{
    background: #f6f6f6;
    border-radius: 0.5rem;
    border: solid 0.1rem #e2e0e0;
}

.section_6_image_bg_1, .section_6_image_bg_2, .section_6_image_bg_3, .section_6_image_bg_4, .section_6_image_bg_5, .section_6_image_bg_6{
    border-radius: 5rem;
    background-position-x: center;
    background-position-y: center;
    margin: 0.45rem;
    padding: 0.45rem;
}

.section_6_image_bg_1{background: #309b62;}
.section_6_image_bg_2{background: #43a2be;}
.section_6_image_bg_3{background: #e1ab31;}
.section_6_image_bg_4{background: #d16d53;}
.section_6_image_bg_5{background: #59be7a;}
.section_6_image_bg_6{background: #61b2d7;}

.section_6_image_thumb_1, .section_6_image_thumb_2, .section_6_image_thumb_3, .section_6_image_thumb_4, .section_6_image_thumb_5, .section_6_image_thumb_6{
    width: 4.75rem;
    height: 4.75rem;
    margin: -0.85rem;
    background-position: center;
    background-repeat: no-repeat;
}
.section_6_image_thumb_1{background-image: url(../images/sec_6_icon_button_1.png);}
.section_6_image_thumb_2{background-image: url(../images/sec_6_icon_button_2.png);}
.section_6_image_thumb_3{background-image: url(../images/sec_6_icon_button_3.png);}
.section_6_image_thumb_4{background-image: url(../images/sec_6_icon_button_4.png);}
.section_6_image_thumb_5{background-image: url(../images/sec_6_icon_button_5.png);}
.section_6_image_thumb_6{background-image: url(../images/sec_6_icon_button_6.png);}

.section_7_button_phone, .section_7_button_tu_van{
    border-radius: 0.5rem;
}
.section_7_button_phone{
    background: white;
    border: solid 0.075rem #d16d53;
    margin-left: -0.5rem;
}
.section_7_button_tu_van{
    background: #009949;
    margin-left: 1rem;
}


.section_7_span_phone, .section_7_span_tu_van{
    padding-left: 0.55rem;
    line-height: 1.2rem;
    font-size: 0.58rem;
    font-weight: bold;
    font-family: Arial;
    vertical-align: middle;
}
.section_7_span_phone::before, .section_7_span_tu_van::before{
    content: '';
    position: absolute;
    margin-left: -1rem;
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.1rem;
    vertical-align: middle;
}
.section_7_span_phone::before{
    background-image: url(../images/section_7_button_icon_1.png);
}
.section_7_span_tu_van::before{
    background-image: url(../images/section_7_button_icon_2.png);
}

.section_8_title{
    background-color: white;
    border: solid 0.2rem #b7d6e5;
    height: 5rem;
    margin-top: 4.75rem;
    font-family: Arial;
    text-align: center;
    vertical-align: text-bottom;
}
.section_8_image_1, .section_8_image_2, .section_8_image_3, .section_8_image_4{
    border-radius: 5rem;
    background-position-x: center;
    background-position-y: center;
    margin: 0.45rem;
    padding: 0.45rem;
    background-color: white;
    border:solid 0.1rem #b7d6e5;

    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    width: 5rem;
    height: 5rem;
    margin-top: -3.5rem;
}

.section_8_image_1{background-image: url(../images/sec_8_image_1.png);}
.section_8_image_2{background-image: url(../images/sec_8_image_1.png);}
.section_8_image_3{background-image: url(../images/sec_8_image_1.png);}
.section_8_image_4{background-image: url(../images/sec_8_image_1.png);}


.section_9_update_thumb{
    margin-top: 2rem;
}
.section_9_update_title{
    margin-top: 1rem;
    color: red;
    font-size: 0.6rem;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.section_9_update_desc{
    font-size: 0.45rem;
    font-family: Arial;
}

.section_9_update_button{
    text-align: center;
    margin-top: 1rem;
}

.section_9_update_read_more{
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.4rem;
    color: white;
    background-image: linear-gradient(180deg, #126634, #1bb95f);
    border-radius: 5rem;
    padding: 0.1rem 0.5rem;
    font-weight: bold;
    border: solid;
}

.section_10_area{
    margin: 0.1rem;
    margin-top: 1.75rem;
    text-align: center;
    padding: 1rem;
}

.section_10_button_1,.section_10_button_2{
    width: 5rem;
    font-family: Arial;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem 0.25rem 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0.75rem;
    font-size:0.5rem;
}

.section_10_button_1{
    background-color:#ec1c24;
    color:white;
    border: solid 0.1rem white;
}

.section_10_button_2{
    background-color: #4ccf91;
    margin-left: -1.3rem;
    border: solid 0.1rem black;
}

.section_10_button_1:before,.section_10_button_2:before{
    content: '';
    position: absolute;
    margin-left: -1.2rem;
    width: 0.95rem;
    height: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.section_10_button_1:before{
    background-image: url(../images/sec_10_button_icon_1.png);
}

.section_10_button_2:before{
    background-image: url(../images/sec_10_button_icon_2.png);
}

.blog_title{
    font-size: 0.6rem;
    color: #036234;
    font-family: Arial;
    text-align:-webkit-left;
}

.section_12_button{
    background-color: white;
    border: solid 0.1rem #a09d9d;
    border-radius: 0.25rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0.1rem;
    width: 23.5%;
}

.section_12_thumb{
    margin: 0.45rem;
    padding: 0.15rem;
    text-align: -webkit-center;
}

.section_12_title{
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 0.45rem;
    background-color: #c2c1c1;
    border-bottom-right-radius:0.15rem;
    border-bottom-left-radius: 0.15rem;

    height: 1rem;
    line-height: 1rem;
    vertical-align: middle;
}

.section_12_image_1, .section_12_image_2, .section_12_image_3, .section_12_image_4{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

.section_12_image_1{background-image: url(../images/section_12_button_icon_1.png);}
.section_12_image_2{background-image: url(../images/section_12_button_icon_2.png);}
.section_12_image_3{background-image: url(../images/section_12_button_icon_3.png);}
.section_12_image_4{background-image: url(../images/section_12_button_icon_4.png);}


.form_line {
    text-align: center;
    margin-bottom: 0.5rem;
}
.form_dang_ky {
    margin: 0 2rem 0 2rem;
    padding-top: 0;
    font-size: 0.6rem;
}

.form_submit_button{
    background-color: red;
    color: white;
    font-style: italic;
    border: solid white;
    border-radius: 0.25rem;
    font-size: 0.5rem;
    font-family: Arial;
    margin-right: 0.25rem;
    padding-right: 1.25rem;
    line-height: 1rem;
}

.form_submit_button::after{
    content: '';
    position: absolute;
    margin: 0.2rem 0.25rem;
    width: 0.6rem;
    height: 0.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    text-align: -webkit-center;
    background-image: url(../images/form_submit_button_icon.png);
}

#section_14 > .row{
    margin: 0 0.5rem;
    padding: 0.5rem 0rem;
    --bs-gutter-x: 0.75rem;
}

.section_14_button{
    border-radius: 0.25rem;
    border: solid 0.05rem #f3dd82;
    margin: 0.1rem;
    width: 32%;
}

.section_14_caption{
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65rem;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 0.01rem;
    -webkit-text-stroke-color: white;
}

.section_14_title{
    background-color: white;
    color:#3a3a3a;
    border-radius: 1.5rem;
    margin: 0.25rem 0.1rem;
    font-size: 0.45rem;
    line-height: 0.75rem;
    text-align: center;
}

.section_14_thumb{
    margin-top: 0.25rem;
    text-align: -webkit-center;
}

.section_14_image_1,.section_14_image_2,.section_14_image_3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}
.section_14_image_1{background-image: url(../images/section_14_button_icon_1.png);}
.section_14_image_2{background-image: url(../images/section_14_button_icon_2.png);}
.section_14_image_3{background-image: url(../images/section_14_button_icon_3.png);}

.section_15_thumb{
    margin: 2% 20%;
}
.section_15_title, .section_15_desc, .section_15_content{
    font-family: Arial;
    font-size: 0.6rem;
    
}
.section_15_title{
    text-align: center;
    font-weight: bold;
    margin: 2% 20%;
    text-transform: uppercase;
}
.section_15_desc{
    margin: 0% 20%;
}
.section_15_content{
    border: 0.06rem;
    border-style: solid;
    border-radius: 0.15rem;
    border-color: #bf9d16;
    margin: 5%;
}

#section_17{
    --bs-body-line-height: 0;
    max-width: 640px;
    background-color: #0e894e;
}


.section_17_contain {
    font-size: 0.5rem;
    font-family: Arial;
    margin: 2% 7%;
    padding-bottom: 18%;
    color: white;
}

.section_17_contain > p {
    margin: 2% 0%;
    font-weight: 500;
}
.p_footer_title_hotline,.p_footer_title_time_to_work,.p_footer_title_address,.p_footer_title_notice{
    display: block;
    padding-left: 1rem;
}
.p_footer_title_hotline:before{background: url(../images/footer_icon_hotline.png);}
.p_footer_title_time_to_work:before{background: url(../images/footer_icon_time_to_work.png);}
.p_footer_title_address::before{background: url(../images/footer_icon_address.png);}
.p_footer_title_notice:before{background: url(../images/footer_icon_notice.png);}

.p_footer_title_hotline:before, .p_footer_title_time_to_work:before, .p_footer_title_address:before, .p_footer_title_notice:before {
    content: '';
    background-size: 0.65rem 0.65rem;
    position: absolute;
    width: 0.65rem;
    height: 0.65rem;
    margin-left: -0.85rem;
    margin-top: 0.05rem;
}
.section_17_contain > p > span {
    font-weight: bold;
}

.site-info{
    font-size: 0.6rem;
}

.icon-footer{
    height: 1rem;
    object-fit: contain;
}

.header_logo{
    line-height: 0.75rem;
    padding: 0 0.4rem;
}

.hotline_button{
    background-color: #e1ab31;
    border: solid 0.1rem white;
    border-radius: 0.25rem;
}

.hotline_number{
    padding-left: 1.45rem;
    font-family: Arial;
    font-size: 0.6rem;
    text-align: left;
    line-height: 0.75rem;
}

.hotline_number:before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-left: -1.15rem;
    margin-top: 0.25rem;
    background: url(../images/section_1_button_icon_hotline.png);
    background-size: cover;
}
.hotline_number_text{
    font-family: Arial;
    font-size: 0.5rem;
}
.hotline_number_phone{
    text-transform: uppercase;
    font-family: Arial;
    font-size:0.65rem;
    font-weight: bold;
}

.section_2_button, .section_2_button_end{
    color:white;
    line-height: 0.4rem;
    font-size: 0.5rem;
    padding: 0.25rem 0.1rem 0.35rem 0.1rem;
}

.section_2_button{
    background-color: #047f3e;
    border-right-color: white;
    border-right-style: solid;
}
.section_2_button_end{
    background-color: #047f3e;
    border-left-color: #047f3e;
    border-left-style: solid;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.5rem;
    margin-top: -0.6rem;
    color: white;
    font-weight: bold;
    font-size: 0.5rem;
    transition: 0.6s ease;
    border-radius: 0 0.03rem 0.03rem 0;
    user-select: none;
}

.home_menu_contain{
    background-color: #047f3e;
}

.home_menu_contain > button{
    background: #009949;
    border-radius: 0;
}

.home_menu_button_2{
    width:85%;
}

.form_menu{
    margin-left:0.65rem;
    position: relative;
}

.nhap_so_dien_thoai{
    border-radius: 0.5rem;
    border: solid 0.05rem white;
    background:linear-gradient(90deg, #047f3e 88%, white 12%);
    color: white;
    font-size: 0.4rem;
    width: 12.3rem;
    padding-left: 0.25rem;
}

.nhap_so_dien_thoai:focus{
    background:white;
    color: black;
    font-family: Arial;
    font-size: 0.5rem;
    padding-left: 0.25rem;
    line-height: 1rem;
    border: none;
}

.nhap_so_dien_thoai::placeholder{
    color:white;
    font-family: Arial;
    font-size: 0.4rem;
    text-align: left;
    padding-left: 0.25rem;
}
.nhap_so_dien_thoai[type="submit"]{
    font-size: 0.4rem;
    margin-left: -1.75rem;
    width: 1.5rem;
    color: #047f3e;
    background: transparent;
    font-family: Arial;
    border: 0;
    font-weight: bold;
}

#navbarFirst{
    background: #009949;
}

.dot_line {
    
    margin: 0.5rem;
    border-bottom: dotted 0.05rem grey;
    width: 90%;
}



.post_content_button_1, .button_1_contain{
    background: linear-gradient(70deg, #00c9a0, #009c84, #00776c);
    border-radius: 0.5rem;
}

.post_content_button_2, .button_2_contain{
    background: linear-gradient(70deg, #e3a33b, #e08e2c, #de791e);
    border-radius: 0.5rem;
}

.post_content_button_1, .post_content_button_2{
    width: 5.8rem;
}

.post_content_button_1{
    margin-left: 2rem;
    margin-right: 0.25rem;
}

.post_content_button_2{
    margin-left: 0.25rem;
    margin-right: 2rem;
}

.button_1_contain, .button_2_contain{
    color: white;
    font-size: 0.45rem;
    margin: 0.15rem 0;
    border: solid 0.07rem white;
    font-style: italic;
    padding-left: 0.6rem;
    padding-right: 0.15rem;
}

.button_1_contain::before, .button_2_contain::before{
    content: '';
    margin-left: -0.75rem;
    background-size: cover;
    position: absolute;
    background-position: center;
    background-position-y: center;
    margin-top: 0.15rem;
    width: 0.6rem;
    height: 0.5rem;
}

.button_1_contain::before{
    background-image: url(../images/post_content_icon_button_1.png);
}

.button_2_contain::before{
    background-image: url(../images/post_content_icon_button_2.png);
}

#phone_error_2{
    font-size:0.32rem;
}