/* css catalog */
.home_page_a, .home_page_a:hover{
    color: black;
}
#content_list{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
    margin: 0% 3%;
}

.catalog_breadcrumb{
    font-size: 24px;
    --bs-breadcrumb-margin-bottom:0.3rem;
    font-family: Arial;
}

.breadcrumb-item.active{
    color:#036234;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item{
    padding: 0 0.2rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">>");
    padding: 0 0.2rem;
}

.dot_line{
    border-bottom: dotted 2px grey;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.pagination > li {
    display: block;
    color: black;
    font-size:18px;
    float: left;
    padding: 2px 18px;
    margin: 0 0.3%;
    text-decoration: none;
    background: #d6d6d6;
}

.pagination > li.active {
    background-color: #066739;
}

.pagination > li.active > a{
    color:white;
}

.pagination > li > a {
    color: black;
}

@media only screen and (max-width: 550px){
    #content_list{
        margin:0 6%;
    }
}

@media only screen and (max-width: 450px){
    .catalog_breadcrumb{
        font-size: 16px;
    }
    #content_list{
        margin:0 6%;
    }
    .pagination > li {
        font-size:12px;
    }
}


@media only screen and (max-width: 400px){
    .catalog_breadcrumb{
        font-size: 16px;
    }
    #content_list{
        margin:0 6%;
    }
    .pagination > li {
        font-size:10px;
    }
}