/* css tuy chinh */
.row_sec{
    font-size: 1rem;
}
.navbar-nav .nav-link{
    padding-left: 1rem;
    color: white;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    justify-content: unset;
}

.blog_item{
    padding-top: 3.5%;
}

.blog_title{
    font-size: 23.5px;
    color: #036234;
    font-family: Arial;
    text-align:-webkit-left;
}

.show_image{
    width: 100%;
}

.home_menu{
    --bs-navbar-padding-y:0;
    --bs-navbar-toggler-padding-y:0.5rem;
    --bs-navbar-brand-margin-end:0;
    --bs-navbar-brand-font-size:0.5rem;
    --bs-navbar-toggler-padding-x:unset;
    --bs-navbar-toggler-font-size:unset;
}

.home_menu_contain{
    --bs-gutter-x:0;
    background-color:#009949;
}

#section_1{
    margin-top: 15px;
    margin-bottom:15px;
}

#section_2{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
    text-align:center;
}

.menu_text{
    font-size: 18px ;
    background-color: #036234;
    min-height: 40px;
    text-align: center;
    border-right: solid 2px white;
}

.menu_text > span{
    color:white;
    font-family: Arial;
    vertical-align: -webkit-baseline-middle;
}

.section_2_a{
    display: inline-block;
}

#section_3{
    margin-top: 0;
    margin-bottom:0;
}

#section_4{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_4_a{
    display: inline-block;
    max-width:33%;
}

#section_5{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_5_a{
    display: inline-block;
    max-width:33%;
}

.section_6_contain{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
    text-align:center;
}

.section_6_a{
    display: inline-block;
    max-width: 33%;
}

#section_7{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_7_a{
    display: inline-block;
    max-width:50%;
}

#section_8{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

#section_9{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
    background-image:url(../images/sec_9_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:450px;
    background-position-x: center;
}

.section_9_contain{
    margin-left:10%;
    margin-right: 10%;
    padding-top:14%;
}

.section_9_title{
    font-size: 17px;
    color:red;
    padding-top:6.5%;
    text-align:center;
    font-weight:bolder;
    text-align:center;
}

.section_9_desc{
    font-family: Arial; 
    font-size: 17px;
    text-align:justify;
    font-weight:500;
}

.section_9_read_more{
    text-align: center;
    padding-top:5.5%;
}

.section_9_read_more_button{
    border: none;
    background-color: transparent;
    margin-bottom:10%;
}

#section_10{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_10_contain{
    text-align:center;
    position:relative;
    margin-top:-12.3%;
    margin-bottom: 4.5%;
}

.section_10_contain_1{
    display: inline-block;
    max-width:30%;
    background-color:transparent;
    border:unset;
}

.section_10_contain_2{
    display: inline-block;
    min-width:20%;
    background-color:transparent;
    border:unset;
}

#section_11{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
    margin: 0% 3%;
}

.blog_item_image{
    padding-right: calc(var(--bs-gutter-x) * .2);
}

.blog_item_desc{
    padding-left: calc(var(--bs-gutter-x) * .2);
}

#section_12{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_12_a{
    display: inline-block;
    max-width: 25%;
}

#section_13{ 
    --bs-body-line-height:0;max-width:640px;
    font-size:0rem;background-image:url(../images/sec_13_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:450px;
    background-position-x: center;
}

.section_13_notice{
    color:white;
    font-size:20px;
    padding-bottom:13%;
    font-style: italic;
    font-family: Arial;
}

.form_dang_ky{
    margin-left:20%;
    margin-right: 20%;
    padding-top:25%;
    font-size:13px;
}

.form_line{
    text-align:center;
    margin-bottom:5%;
}

.form_submit{
    text-align:center;
}

.form_submit_button{
    border-color: transparent;
    border: unset;
    background: transparent;
}

.input_form{
    width:100%!important;
    line-height:30px!important;
    border-radius:10px!important;
    border-color:white!important;
    border-image:none!important;
}

.input_form::placeholder {
    font-size: 18px;
}

#section_14{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_14_a{
    display: inline-block;
    max-width: 33%;
}

#section_15{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

.section_15_thumb{
    margin: 5% 35%;
}

.section_15_title{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 2% 20%;
    text-transform: uppercase;
}

.section_15_desc{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    margin: 0% 20%;
}

.section_15_content{
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: #bf9d16;
    font-size: 14px;
    margin: 5%;
}

.section_15_content > p {
    margin: 2%;
    font-size: 15px;
    text-align: justify;
}

#section_16{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
}

#section_17{
    --bs-body-line-height:0;
    max-width:640px;
    font-size:0rem;
    background-color: #0e894e;
}

.section_17_contain{
    font-size: 22.5px;
    font-family: Arial;
    margin: 2% 7%;
    padding-bottom: 18%;
    color:white;
}

.section_17_contain > p{
    margin: 2% 0%;
    font-weight: 500;
}

.section_17_contain > p > span{
   font-weight: bold;
}

.error{
  color: white;
  font-style: italic;
  text-align: center;
  font-family: Arial;
  size: 80%
}

.hidden{
  display:none;
}

.p_footer_title_hotline{        
    display:block;
    padding-left:40px;
}
.p_footer_title_hotline:before{
    content: '';
    background:url(../images/footer_icon_hotline.png);
    background-size: 30px 30px;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-40px;
    margin-top: 0.1%;
}

.p_footer_title_time_to_work{        
    display:block;
    padding-left:40px;
}

.p_footer_title_time_to_work:before{
    content: '';
    background:url(../images/footer_icon_time_to_work.png);
    background-size: 30px 30px;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-40px;
    margin-top: 0.1%;
}

.p_footer_title_address{        
    display:block;
    padding-left:40px;
}

.p_footer_title_address:before{
    content: '';
    background:url(../images/footer_icon_address.png);
    background-size: 30px 30px;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-40px;
    margin-top: 0.1%;
}

.p_footer_title_notice{        
    display:block;
    padding-left:40px;
}

.p_footer_title_notice:before{
    content: '';
    background:url(../images/footer_icon_notice.png);
    background-size: 30px 30px;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-40px;
    margin-top: 0.1%;
}


/* slider */
.mySlides {display: none}
#section_3 > div > div > img {vertical-align: middle;}
.slideshow-container {max-width: 100%;position: relative;margin: auto;}
.prev, .next {cursor: pointer;position: absolute;top: 50%;width: auto;padding: 16px;margin-top: -22px;color: white;font-weight: bold;font-size: 18px;transition: 0.6s ease;border-radius: 0 3px 3px 0;user-select: none;}
.next {right: 0;border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.0);}
.text {color: #f2f2f2;font-size: 15px;padding: 8px 12px;position: absolute;bottom: 8px;width: 100%;text-align: center;}
.numbertext {color: #f2f2f2;font-size: 12px;padding: 8px 12px;position: absolute;top: 0;}
.dot {cursor: pointer;height: 15px;width: 15px;margin: 0 2px;background-color: #bbb;border-radius: 50%;display: inline-block;transition: background-color 0.6s ease;}
.active, .dot:hover {background-color: #717171;}
.fade {animation-name: fade;animation-duration: 1.5s;}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.prev, .next,.text {font-size: 11px}
/* end slider */

@media only screen and (max-width: 550px) {
   
    #section_12{
        margin-top: 5%;
    }

    .section_13_notice{
        font-size: 13px;
    }

    .form_dang_ky{
        padding-top:30%;
    }

    .section_17_contain{
        font-size: 16px;
    }

    .p_footer_title_hotline, .p_footer_title_time_to_work, .p_footer_title_address, .p_footer_title_notice{
        padding-left:30px;
    }
    .p_footer_title_hotline:before, .p_footer_title_time_to_work:before, .p_footer_title_address:before, .p_footer_title_notice:before{
        background-size: 25px 25px;
        width:25px;
        height:25px;
        margin-left:-30px;
        margin-top: -0.2%;
    }
}

@media only screen and (max-width: 450px) {
    .menu_text{
        font-size: 14px;
        min-height: 30px;
    }
    .section_17_contain{
        font-size: 13px;
    }

    .p_footer_title_hotline, .p_footer_title_time_to_work, .p_footer_title_address, .p_footer_title_notice{
        padding-left:30px;
    }
    .p_footer_title_hotline:before, .p_footer_title_time_to_work:before, .p_footer_title_address:before, .p_footer_title_notice:before{
        background-size: 20px 20px;
        width:20px;
        height:20px;
        margin-left:-30px;
    }

    .blog_title{
        font-size: 14px;
    }

    #section_12{
        margin: 0 6%;
    }
}

@media only screen and (max-width: 350px) {
    .menu_text{
        font-size: 12px;
        min-height: 30px;
    }

    .section_17_contain{
        font-size: 10px;
    }

    .p_footer_title_hotline, .p_footer_title_time_to_work, .p_footer_title_address, .p_footer_title_notice{
        padding-left:25px;
    }
    .p_footer_title_hotline:before, .p_footer_title_time_to_work:before, .p_footer_title_address:before, .p_footer_title_notice:before{
        background-size: 15px 15px;
        width:15px;
        height:15px;
        margin-left:-25px;
    }

    .blog_title{
        font-size: 12px;
    }

}


